<div class="uiCreateCharacter">
	<img class="logo" src="images/logo_0.png" alt="">
	<div class="box-left">
		<div class="left">
			<input type="text" class="el textbox txtName" placeholder="name" maxlength="12">
			<div class="el textbox txtClass">wizard</div>
			<div class="el textbox txtCostume">1</div>
			<div class="message"></div>
		</div>
		<div class="right">
			<div class="portrait">
				<div class="sprite"></div>
			</div>
			<div class="el button btnBack">back</div>
			<div class="el button btnCreate">create</div>
		</div>
	</div>
	<div class="box-right">
		<div class="top">
			<div class="heading">prophecies</div>
			<div class="list">
				<div prophecy="austere" tooltip="you live a simple life and will only use common and magic items" class="prophecy">austere</div>
				<div prophecy="butcher" tooltip="you can engage other butchers in combat" class="prophecy">butcher</div>
				<div prophecy="crushable" tooltip="take quadruple damage from all sources" class="prophecy">crushable</div>
				<div prophecy="hardcore" tooltip="death is permanent" class="prophecy">hardcore</div>
				<div prophecy="titangrip" tooltip="gain double stats from weapons" class="prophecy">titangrip</div>
				<div class="prophecy disabled">waterproof</div>
				<div class="prophecy disabled">wolfborn</div>
				<div class="prophecy disabled">demonic</div>
			</div>
		</div>
	</div>
</div>
