<div class="uiWardrobe">
	<div class="top">
		<div class="heading">wardrobe</div>
	</div>
	<div class="bottom">
		<div class="left">
			<div class="heading">skins</div>
			<div class="list"></div>
		</div>
		<div class="right">
			<div class="heading">preview</div>
			<div class="preview">
				<div class="bg"></div>
				<div class="sprite"></div>
			</div>
			<div class="buttons">
				<div class="btn btnCancel">cancel</div>
				<div class="btn btnApply">apply</div>
			</div>
		</div>
	</div>
</div>
